/* --- FOOTER --- */
.main-footer {
    background-color: var(--color-dark-gray); /* Hacemos que siga el degradado */
    color: #a0a0a0;
    padding: 15px;
    text-align: center;

    p {
    font-size: 0.8rem;
 }
}