.full-page-section {
    min-height: 100vh; /* Para que cada una ocupe la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 60px; /* Un buen espaciado interno */
    box-sizing: border-box;
    scroll-snap-align: start;
}

.full-page-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #1e2a38;
}