// 🎨 Paleta Final – Elegante Dark
:root {
  // 🎨 Fondos
  --bg-main: #F5F5F5;         // Fondo principal (Titanium White)
  --bg-secondary: #2C2F36;    // Fondo secundario (graphite)

  // 🎯 Colores de acento
  --accent: #00C2FF;          // Celeste Moderno (principal de botones y detalles)
  --highlight: #2CB67D;       // Verde menta para resaltar cosas positivas

  // 🌬️ Colores de detalle
  --soft-blue: #94A1B2;       // Azul muy suave para bordes, decoraciones o tags

  // 📝 Tipografía
  --text-main: #000000;       // Texto principal (Negro)
  --text-secondary: #9b9b9b;  // Texto Secundario (Gris)
  --text-nav: #F5F5F5; // SideBar white titanium

  // SideBar Excepcion

  --color-black: #000000;  //SideBar Gradient 1
  --color-dark-gray: #2c2c2c; // SideBar Gradient 2
}

